.navi-menu {
  width: 95%;
  height: 0;
  border: 1px solid gray;
  margin: 0 auto;
  border-radius: 4px;
  margin-top: 10px;
  opacity: 0;
  transition: 1s;
}

.navi-menu-header-main {
  height: 60px;
  width: 100%;
  background: #800000;
  display: flex;
  line-height: 60px;
}

.open-navi-button {
  width: 30px;
  height: 30px;
  margin-top: 8px;
  margin-left: 10px;
}

.open-menu-icon {
  width: 30px;
  height: 30px;
}

.open-menu-label {
  font-weight: bold;
  color: white;
  margin-left: 10px;
}

.navi-menu-wrapper {
  width: 100%;
}

.navi-menu-top {
  opacity: 0;
  transition: 3s;
}

.navi-menu-top.show {
  opacity: 1;
}

.navi-menu-top-header {
  background: #800000;
}

.top-header-label {
  color: white;
  font-weight: bold;
  margin-left: 10px;
}

.navi-button {
  width: 200px;
  height: 50px;
  background: red;
  margin: 5px;
  color: white;
  line-height: 50px;
  text-align: left;
  padding-left: 10px;
  border-radius: 4px;
}

.navi-button-wrapper {
  display: flex;
  flex-wrap: wrap;
}
